*.env
*.db
*.db-shm
*.db-wal
*.log
*.1
*.fault
__pycache__/
hass/settings/.storage
secrets/
certbot/settings/data/
hass/settings/custom_components/
zigbee2mqtt/settings/log/
zigbee2mqtt/settings/configuration.yaml
zigbee2mqtt/settings/coordinator_backup.json
zigbee2mqtt/settings/state.json
nginx/settings/site-confs/z2m_htpasswd
